<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="M+RcP">
         <property
               name="lifeCycleURI"
               value="bundleclass://com.m4rc310.rcp.mrcp/com.m4rc310.rcp.mrcp.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="M+RcP">
         </property>
      </product>
   </extension>






</plugin>
